<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="BasicAuth">
    <meta name="author" content="siddub">
  <title>SenPie</title>
  <link href="https://fonts.googleapis.com/css2?family=Barrio&family=Quicksand&display=swap" rel="stylesheet">  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" rel="stylesheet" crossorigin="anonymous">

</head>


<body style="background-image: url('/required/css/images/loginbackground.jpg'); display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; min-height: 100vh;">


  <%= errors %>
  <div>

    <h1 style="font-family:'Barrio', cursive; font-size:95px; color:black;margin-bottom:80px;margin-left:100px;"> Sen-Pie Baking Co.  </h1>
      <form action="/login" method="POST">
      <div>
      <label style="font-family:'Quicksand', sans-serif;margin-right:25px;";for="email">Email</label>
      <input style="font-family:'Quicksand', sans-serif, ; border: 0;border-bottom:black solid 1.5px; background:transparent;height:25px;width:12em; margin-bottom:20px;margin-left:19px;"
      type="email"
      name="email"
      placeholder="Enter Email"
      />
      </div>
      <div>
          <label style="font-family:'Quicksand', sans-serif;margin-right:26px;"; for="password">Password</label>
          <input style="font-family:'Quicksand', sans-serif; border: 0;border-bottom:black solid 1.5px; background:transparent;height:25px;width:12em; margin-bottom:20px;"
            type="password"
            name="password"
            placeholder="Enter Password"
          />
      </div>
      <button style="font-family:'Quicksand', sans-serif;background-color:rgb(115, 190, 183);border:0; height:35px; width:100px; margin-left:5px; margin-bottom: 20px; position:relative; top:50%; left:45%; ";type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
      <p style="font-family:'Quicksand', sans-serif;margin-left:10px;";>Don't Have An Account? <a href="/register">Register Here</a></p>
    </div>
  </div>
    



    
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="${contextPath}/resources/js/bootstrap.min.js"></script>
</body>
</html>
