<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="BasicAuth">
    <meta name="author" content="siddub">

    <title>SenPie</title>
  <link href="https://fonts.googleapis.com/css2?family=Englebert&family=Montserrat&display=swap" rel="stylesheet">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" rel="stylesheet" crossorigin="anonymous">

</head>


<body style="background-image: url('/required/css/images/chef-6.7s-1084px.gif'); display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; min-height: 100vh;">


  <%= errors %>
  <h1 style="font-family:'Englebert', sans-serif; font-size:75px; color:rgb(48, 202, 207);-webkit-text-stroke: 1px black;margin-bottom:40px;"> Welcome to Sen-Pie!  </h1>
    <form action="/login" method="POST">
    <div>
    <label style="font-family:'Montserrat', sans-serif;";for="email">Email</label>
    <input style="font-family:'Montserrat', sans-serif; border:rgb(48, 202, 207) solid 2.5px; border-radius: 8px; height:25px; margin-bottom:10px;"
    type="email"
    name="email"
    placeholder="Enter Email"
    />
    </div>
    <div>
        <label style="font-family:'Montserrat', sans-serif;"; for="password">Password</label>
        <input style=" font-family:'Montserrat', sans-serif; border:rgb(48, 202, 207) solid 2.5px; border-radius:8px; height:25px;margin-bottom:10px;"
          type="password"
          name="password"
          placeholder="Enter Password"
        />
    </div>
    <button style="font-family:'Montserrat', sans-serif; height:35px; width:100px; margin-left:5px; margin-bottom: 10px; position:relative; top:50%; left:45%; ";type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
    <p style="font-family:'Montserrat', sans-serif";>Don't Have An Account? <a href="/register">Register Here</a></p>
  </div>
    



    
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="${contextPath}/resources/js/bootstrap.min.js"></script>
</body>
