<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="SenPie">
    <meta name="author" content="siddub">
    <title>SenPie</title>
    <link href="https://fonts.googleapis.com/css2?family=Barrio&family=Quicksand&display=swap" rel="stylesheet">  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body style="font-family:'Quicksand', sans-serif;text-align:center;background-image:url('/required/css/images/register.gif')">

    <h1 style="margin-top:15px;margin-bottom:70px;"> Thanks for your order!</h1>
    <br>
    <img src="/required/css/images/bread.png" alt="bread" width="300" height="300">
    <h2 style="margin-top:160px;"> You'll receive an email soon with your pickup time-we can't wait to see you!</h2>
    <!--Selecting options to order from menu-->
   
  </body>