<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Englebert&family=Montserrat&display=swap" rel="stylesheet">
    <title>SenPie</title>
  </head>
  <body style="background-image: url('chef-6.7s-1084px.gif'); display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; min-height: 100vh;">
    <div style="border: black solid 1px; border-radius: 20px; background: pink; opacity: 85%;">
      <h1 style="font-family:'Englebert', sans-serif; font-size:75px; color:rgb(48, 202, 207);-webkit-text-stroke: 1px black;margin-bottom:40px;"> Welcome to Sen-Pie!  </h1>

      <form action="/users/login" method="POST">
      <div>
      <label style="font-family:'Montserrat', sans-serif;";for="email">Email</label>
      <input style="font-family:'Montserrat', sans-serif;border-radius: 5px; height:17px; margin-bottom:7px;"
      type="email"
      name="email"
      placeholder="Enter Email"
      />
      </div>
      <div>
          <label style="font-family:'Montserrat', sans-serif"; for="password">Password</label>
          <input style=" font-family:'Montserrat', sans-serif; border-radius:5px; height:17px;margin-bottom:5px;"
            type="password"
            name="password"
            placeholder="Enter Password"
          />
        
      </div>
      <button style="font-family:'Montserrat', sans-serif";type="submit" class="btn btn-primary btn-block">Login</button>
        
      </form>
      <p style="font-family:'Montserrat', sans-serif";>Don't Have An Account? <a href="/register">Register Here</a></p>
    </div>
    </body>
</html>